#title, #description{
    text-align: center;
    font-size: 1em;
    color: white;
}

body {
    background-image: url(img/alexey-savchenko-k4Akpt5-Sfk-unsplash.jpg);
    background-size: 100%;
    background-size: cover;
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
}

#survey-form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    text-align: left;
    width: 600px;
    margin: auto;
    padding: 30px 30px 30px 60px;
    background-color: grey;
    opacity: 0.8;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input, select, #dropdown, textarea {
    border-radius: 8px;
    font-size: 0.5em;
    width: 460px;
}

button {
    width: min-content;
    border-radius: 10px;
    font-size: 0.5em;
    margin: 10px auto;
}

div > input {
    width: auto;
}

label, p, select{
    margin: 10px;
}

#footer {
    font-size: 0.5em;
}

@media (max-width: 768px) {
    #survey-form {
      width: 350px;
      padding: 30px 30px 30px 30px;
    }
    input, select, #dropdown, textarea {
        border-radius: 8px;
        font-size: 0.5em;
        width: 270px;
    }

  }